.~*
__*
*.dcmdump
src/script.js
dummy_data_bkp
metadata_table.ods
src/session_data/raw/*
src/session_data/session.json
src/session_data/user_options.json
src/session_data/requested_action_group_dcm.csv
!src/session_data/raw/.gitkeep
src/session_data/clean/*
!src/session_data/clean/.gitkeep
src/static/client_data/*
!src/static/client_data/.gitkeep
session_original.json
front_end_idea.drawio
custom_config.csv
src/pretrained_segmenters