<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DICOM de-identification and curation tool</title>
        <meta name="description" content="placeholder">
        <meta name="keywords" content="placeholder">
        <link rel="shortcut icon" href="#">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', path='style.css') }}">
    </head>
    <body>
        <div class="row">
            <div class="col-sm-3">
                <div class="container">
                    <b>Input</b>
                    <form id="UploadForm"
                          action="{{ url_for("upload_files") }}"
                          enctype="multipart/form-data"
                          method="post">
                        <label for="formFile" class="form-label">Load DICOM batch directory:</label>
                        <input name="files"
                               class="form-control"
                               type="file"
                               directory
                               webkitdirectory
                               mozdirectory>
                        <div id="UploadStatus">
                            <br>
                            Total DICOM files: 0
                            <br>
                            Total size of DICOM content: 0 MB
                            <br>
                        </div>
                    </form>
                    <form id="SessionForm"
                          action="{{ url_for("session") }}"
                          enctype="application/json"
                          method="post">
                        <label for="formFile" class="form-label">Load session file:</label>
                        <input name="SessionFile" class="form-control" type="file">
                    </form>
                    <form id="CustomDeidentificationConfig"
                          action="{{ url_for("custom_config") }}"
                          enctype="multipart/form-data"
                          method="post">
                        <label for="formFile" class="form-label">Load configuration file (.csv):</label>
                        <input name="ConfigFile" class="form-control" type="file">
                    </form>
                    <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               role="switch"
                               id="annotation"
                               checked>
                        <label class="form-check-label" for="annotation">Enable annotation</label>
                    </div>
                    <br>
                    <b>De-identification options</b>
                    <br>
                    <i>
                        Based on
                        <a href="https://dicom.nema.org/medical/dicom/current/output/chtml/part15/chapter_e.html"> DICOM
                        PS3.15</a>
                    </i>
                    <div class="d-flex align-items-center">
                        <div class="form-check form-switch me-2">
                            <input class="form-check-input"
                                   type="checkbox"
                                   role="switch"
                                   id="clean-image">
                            <label class="form-check-label" for="clean-image">Clean pixel data</label>
                        </div>
                        <select id="display-radio"
                                class="form-select"
                                aria-label="Display mode selection"
                                onchange="DisplayMode(this.value)"
                                disabled>
                            <option value="cleaned-display-option" selected>Clean</option>
                            <option value="bboxes-display-option">BBoxes</option>
                            <option value="raw-display-option">Raw</option>
                        </select>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               role="switch"
                               id="retain-safe-private-input-checkbox"
                               checked>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Retain safe private</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               role="switch"
                               id="retain-uids-input-checkbox"
                               checked>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Retain UIDs</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               role="switch"
                               id="retain-device-identity-input-checkbox"
                               checked>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Retain device identity</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               role="switch"
                               id="retain-patient-characteristics-input-checkbox"
                               checked>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Retain patient characteristics</label>
                    </div>
                    <label>Date processing:</label>
                    <select id="date-processing-select"
                            class="form-select"
                            aria-label="Default select example">
                        <option value="offset" selected>Offset</option>
                        <option value="remove">Remove</option>
                        <option value="keep">Keep</option>
                    </select>
                    <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               role="switch"
                               id="retain-descriptors-input-checkbox"
                               checked>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Retain descriptors</label>
                    </div>
                    <label>Pseudo patient ID prefix:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">ID</span>
                        <input id="patient-pseudo-id-prefix-input-text"
                               type="text"
                               class="form-control"
                               placeholder="e.g. an organization's ID"
                               aria-label="ID"
                               aria-describedby="basic-addon1">
                    </div>
                    <button type="button"
                            id="SubmitAnonymizationProcess"
                            class="btn btn-primary"
                            onclick="submit_dicom_processing_request()"
                            disabled>De-Identify DICOM Files</button>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="container">
                    <div class="d-flex align-items-center">
                        <label for="DICOMSlider">File</label>
                        <input id="DICOMSlider"
                               type="range"
                               class="form-range"
                               value="0"
                               min="0"
                               max="${n_uploaded_files-1}"
                               step="1"
                               oninput="UpdateDICOMInformation(this.value)"
                               disabled>
                        <span id="sliderLabel">0</span>
                    </div>
                </div>
                <div class="container">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active"
                                    id="home-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane"
                                    type="button"
                                    role="tab"
                                    aria-controls="home-tab-pane"
                                    aria-selected="true">DICOM Viewer</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link"
                                    id="profile-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane"
                                    type="button"
                                    role="tab"
                                    aria-controls="profile-tab-pane"
                                    aria-selected="false">Metadata</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active"
                             id="home-tab-pane"
                             role="tabpanel"
                             aria-labelledby="home-tab"
                             tabindex="0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 mb-3">
                                        <div class="input-group">
                                            <select id="BrushSelect"
                                                    class="form-select"
                                                    aria-label="Default select example"
                                                    title="Select annotation class"
                                                    disabled>
                                                <option value="background" selected>background</option>
                                            </select>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text colorIndicator"
                                                      id="colorIndicator"
                                                      title="Class color indicator"></span>
                                            </div>
                                            <input id="ClassText"
                                                   type="text"
                                                   class="form-control"
                                                   placeholder="Class Name"
                                                   aria-label="ID"
                                                   title="Input a class name"
                                                   disabled>
                                            <button type="button"
                                                    id="Add"
                                                    onclick="add_class()"
                                                    class="btn btn-primary"
                                                    title="Add an annotation class"
                                                    disabled>
                                                <i class="bi bi-bookmark-plus-fill"></i>
                                            </button>
                                            <button type="button"
                                                    id="Remove"
                                                    onclick="remove_class()"
                                                    class="btn btn-primary"
                                                    title="Remove existing annotation class"
                                                    disabled>
                                                <i class="bi bi-bookmark-x-fill"></i>
                                            </button>
                                            <button type="button"
                                                    id="SubmitClasses"
                                                    onclick="submit_classes()"
                                                    class="btn btn-primary"
                                                    title="Submit classes to begin annotation"
                                                    disabled>
                                                <i class="bi bi-arrow-right-square-fill"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="btn-group" role="group" aria-label="Toolbar button group">
                                            <button type="button"
                                                    id="toggle-mask"
                                                    class="btn btn-primary"
                                                    title="Show/hide annotation masks"
                                                    disabled>
                                                <i class="bi bi-circle-fill"></i>
                                            </button>
                                            <button type="button"
                                                    id="ToggleEdit"
                                                    class="btn btn-primary"
                                                    title="View/edit mode"
                                                    disabled>
                                                <i class="bi bi-eye-fill"></i>
                                            </button>
                                            <button type="button"
                                                    id="Mode"
                                                    class="btn btn-primary"
                                                    title="Toggle annotation tool"
                                                    disabled>
                                                <i class="bi bi-brush-fill"></i>
                                            </button>
                                            <button type="button"
                                                    id="Undo"
                                                    class="btn btn-primary"
                                                    title="Undo (Ctrl-Z)"
                                                    disabled>
                                                <i class="bi bi-arrow-90deg-left"></i>
                                            </button>
                                            <button type="button"
                                                    id="Redo"
                                                    class="btn btn-primary"
                                                    title="Redo (Ctrl-Y)"
                                                    disabled>
                                                <i class="bi bi-arrow-90deg-right"></i>
                                            </button>
                                            <button type="button"
                                                    id="ResetDICOM"
                                                    class="btn btn-primary"
                                                    onclick="get_mask_from_file(dcm_idx_)"
                                                    title="Discard changes"
                                                    disabled>
                                                <i class="bi bi-arrow-clockwise"></i>
                                            </button>
                                            <button type="button"
                                                    id="ModifyDICOM"
                                                    class="btn btn-primary"
                                                    onclick="modify_dicom()"
                                                    title="Save annotation data to DICOM file"
                                                    disabled>
                                                <i class="bi bi-floppy-fill"></i>
                                            </button>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle dropdown-btn-fixed-width"
                                                        type="button"
                                                        id="BrushSizeButton"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false"
                                                        title="Change brush size in px"
                                                        disabled>
                                                    <i class="bi bi-brush-fill"></i> Size: 25px
                                                </button>
                                                <div class="dropdown-menu p-3" aria-labelledby="BrushSizeButton" disabled>
                                                    <input type="range"
                                                           class="form-range"
                                                           id="BrushSizeSlider"
                                                           min="1"
                                                           max="100"
                                                           value="25"
                                                           step="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <center>
                                <div id="ImgWrapper">
                                    <!-- djlint:off H006-->
                                    <img id="PixelDataDisplay" class="DCMImg" alt="Image">
                                    <!-- djlint:on -->
                                    <canvas id="OverlayCanvas"></canvas>
                                    <canvas id="BoxCanvas"></canvas>
                                </div>
                            </center>
                        </div>
                        <div class="tab-pane fade"
                             id="profile-tab-pane"
                             role="tabpanel"
                             aria-labelledby="profile-tab"
                             tabindex="0">
                            <div id="DICOMOverview">
                                Raw File Path: -
                                <br>
                                Clean File Path: -
                                <br>
                                Patient's Original ID: -
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       type="checkbox"
                                       role="switch"
                                       id="ToggleDiff0"
                                       oninput="ShowDiffTable(this.checked)"
                                       disabled>
                                <label class="form-check-label" for="flexSwitchCheckDefault">Only show altered tags</label>
                            </div>
                            <div id="MetadataTable" class="metadata-table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div id="toast-container"
                 class="toast-container position-fixed bottom-0 end-0 p-3"></div>
        </div>
        <div class="modal fade"
             id="optionModal"
             tabindex="-1"
             aria-labelledby="optionModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="optionModalLabel">Classes Conflict</h5>
                    </div>
                    <div class="modal-body">
                        Warning: The newly defined classes are inconsistent with the classes found on the input batch. How should this be handled?
                        <br>
                        Press "Override with New Classes" to override the newly defined classes and reset each DICOM file's mask. Otherwise you can keep the batch classes along with their masks by pressing "Keep Batch Classes".
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                id="overrideMasks">Override with New Classes</button>
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-dismiss="modal"
                                id="useBatchMasks">Keep imported Batch Classes</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
</html>
