<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="#">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>DICOM de-identification and curation tool</title>
    </head>

    <body>
        <header>
            <h1>DICOM De-identification Tool</h1>
        </header>
        <nav>
            <a href="https://cordis.europa.eu/project/id/952179">INCISIVE Cordis webpage</a> |
            <a href="https://github.com/fl0wxr/DICOMDeIdentifier">Source code (server side)</a>
        </nav>

        <main>
            <h2>Input</h2>
            <form id="UploadForm" action="/upload_files/" enctype="multipart/form-data" method="post">
                <div>
                    <b>
                        Load directory with DICOM files:
                    </b>
                </div>
                <input name="files" class="UploadDICOM" type="file" directory webkitdirectory mozdirectory>
                <div id="UploadStatus">
                    </br>
                    Total DICOM files: 0
                    </br>
                    Total size of DICOM content: 0 MB
                    </br>
                </div>
            </form>
            <form id="SessionForm" action="/upload_files/" enctype="application/json" method="post">
                <b>
                    Load session file (.json):
                </b>
                </br>
                <input name="SessionFile"  class="UploadSession" type="file">
                </br>
            </form>
            <form id="CustomDeidentificationConfig" action="/custom_config/" enctype="multipart/form-data" method="post">
                <b>
                    Load configuration file (.csv):
                </b>
                </br>
                <input name="ConfigFile" title="Determines the de-identification process through the user's custom configuration in .csv.&#013;&#013;Allowed columns (in order):&#013;Tag ID&#013;Action&#013;&#013;Tag IDs must be in the format:&#013;'hhhhhhhh&#013;where h is a digit.&#013;&#013;Allowed actions are K, X and C, where C is only allowed on DA and TM tag VRs.&#013;&#013;Wrong tag IDs will not be considered."  class="UploadConfig" type="file">
                </br>
            </form>

            <h2>De-identification options</h2>

            <i>
                Based on
                <a href="https://dicom.nema.org/medical/dicom/current/output/chtml/part15/chapter_e.html"> DICOM PS3.15</a>
            </i>
            </br>
            </br>
            <div class="user-options-container">
                <div class="checkbox-container">
                    <label class="normal-label">Clean pixel data:</label>
                    <input type="checkbox" id="clean-image">
                </div>
                <div class="checkbox-container">
                    <label class="normal-label">Retain safe private:</label>
                    <input type="checkbox" id="retain-safe-private-input-checkbox" checked>
                </div>
                <div class="checkbox-container">
                    <label class="normal-label">Retain UIDs:</label>
                    <input type="checkbox" id="retain-uids-input-checkbox" checked>
                </div>
                <div class="checkbox-container">
                    <label class="normal-label">Retain device identity:</label>
                    <input type="checkbox" id="retain-device-identity-input-checkbox" checked>
                </div>
                <div class="checkbox-container">
                    <label class="normal-label">Retain patient characteristics:</label>
                    <input type="checkbox" id="retain-patient-characteristics-input-checkbox" checked>
                </div>
                <div class="checkbox-container">
                    <label class="normal-label">Date processing:</label>
                    <select id="date-processing-select" class="DateProcessing">
                        <option value="offset">Offset</option>
                        <option value="remove">Remove</option>
                        <option value="keep">Keep</option>
                    </select>
                </div>
                <div class="checkbox-container">
                    <label class="normal-label"> Retain descriptors:</label>
                    <input type="checkbox" id="retain-descriptors-input-checkbox" checked>
                </div>
                <div class="checkbox-container">
                    <label class="normal-label">Pseudo patient ID prefix:</label>
                    <input type="text" title="Will be concatenated with randomly generated pseudo-ID" id="patient-pseudo-id-prefix-input-text" class="PseudoPrefix" placeholder="e.g. an organization's ID">
                </div>
            </div>
            <button type="button" id="SubmitAnonymizationProcess" class="SubmitAnon" onclick="submit_dicom_processing_request()" disabled>
                De-Identify DICOM Files
            </button>
            <div id="ConversionResult" style="display: none;">
                </br>
                <h2>DICOM Conversion Result</h2>
                <div id="ControlPanel">
                    <input id="DICOMSlider" type="range" min="0" max="${n_uploaded_files-1}" value="0" step="1" class="slider" id="DICOMRange" style="width: 500px;" oninput="UpdateDICOMInformation(this.value)">
                </div>
                <div id="DICOMOverview">
                    Index: -
                    </br>
                    Raw File Path: -
                    </br>
                    Clean File Path: -
                    </br>
                    Patient's Original ID: -
                </div>
                </br>
                </br>
                <center>
                    <div style="padding: 5px;">
                        Header Attributes Display Mode
                    </div>
                    <input type="checkbox" id="ToggleDiff" class="toggleCheckbox" oninput="ShowDiff(this.checked)">
                    <label for="ToggleDiff" class="toggleContainer" title="All: Shows all tags; Only Altered: Shows only altered tags" >
                        <div>All</div>
                        <div>Only Altered</div> 
                    </label>
                </center>
                </br>
                <div class="button-container">
                    <select id="BrushSelect" class="DateProcessing">
                        <option value="background" selected="selected">background</option>
                    </select>
                    <div class="colorIndicator"></div>
                    <input type="text" id="ClassText" class="PseudoPrefix" placeholder="Enter class name">
                    <button class="SubmitAnon" id="Add" onclick="add_class()">+</button>
                    <button class="SubmitAnon" id="Remove" onclick="remove_class()">-</button>
                    <button class="SubmitAnon" id="SubmitClasses" onclick="submit_classes()">Submit Classes</button>
                </div>
                <div class="button-container">
                    <button class="SubmitAnon" id="ToggleEdit" disabled>View Mode</button>
                    <button class="SubmitAnon" id="Mode" disabled>Brush</button>
                    <input type="range" id="BrushSizeSlider" min="1" max="50" value="25" disabled>
                    <button class="SubmitAnon" id="Undo" disabled>↩</button>
                    <button class="SubmitAnon" id="Redo" disabled>↪</button>
                    <button class="SubmitAnon" id="ResetDICOM" onclick="get_mask_from_file(dcm_idx_)" disabled>Load</button>
                    <button class="SubmitAnon" id="ModifyDICOM" onclick="modify_dicom()" disabled>Save to DICOM</button>
                </div>
                <div style="background-color: rgba(50, 50, 55, 255); display: flex; border-radius: 3px; color: white;">
                    <div class="image-row-left-label">
                    </div>
                    <div style="display: flex; flex-direction: column; flex: 1;">
                        <center>
                            <div style="font-weight: bold; padding: 5px; align-items: center;">RAW</div>
                        </center>
                        <div id="RawImg" style="flex: 1; border: 1px solid black; padding: 10px; background-color: rgba(50, 50, 55, 255); border-radius: 3px;">
                            <img id="RawImgInner" class="DCMImg">
                        </div>
                    </div>
                    <div class="cell-vertical-separator"></div>
                    <div style="display: flex; flex-direction: column; flex: 1;">
                        <center>
                            <div style="font-weight: bold; padding: 5px; align-items: center;">DE-IDENTIFIED</div>
                        </center>
                        <div id="CleanedImg" style="flex: 1; border: 1px solid black; padding: 10px; background-color: rgba(50, 50, 55, 255); border-radius: 3px;">
                            <img id="CleanedImgInner" class="DCMImg">
                            <canvas id="OverlayCanvas"></canvas>
                            <canvas id="BoxCanvas"></canvas>
                        </div>
                    </div>
                </div>
                <div id="MetadataTable" class="metadata-table">
                </div>
            </div>
        </main>
        <dialog class="modal" id="modal">
            <div class="modal-content">
                <h2 class="modal-header">Classes Conflict</h2>
                <p>Warning: The newly defined classes are inconsistent with the batch classes. How should this be handled?
                </br></br>
                Press "Override with New Classes" to override the newly defined classes and reset each DICOM file's mask. Otherwise you can keep the batch classes along with their masks by pressing "Keep Batch Classes".</p>
                <button id="overrideMasks">Override with<br><b>New Classes</b></button>
                <button id="useBatchMasks">Keep parsed<br><b>Batch Classes</b></button>
            </div>
        </dialog>
        <div id="notification-message" style="display: none;">
            <span id="notification-icon"></span>
            <span id="notification-text"></span>
        </div>   
        <script src="static/script.js"></script>
    </body>
</html>