html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.DCMImg {
    display: block;
    width: 100%;
    object-fit: contain;
}

#ImgWrapper {
    position: relative;
}

#OverlayCanvas,
#BoxCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: calc(100%);
    height: calc(100%);
}

#OverlayCanvas {
    pointer-events: none;
    cursor: crosshair;
    opacity: 0.3;
}

#BoxCanvas {
    pointer-events: none;
    cursor: crosshair;
}
