[project]
dependencies = [
  "torchvision@https://download.pytorch.org/whl/cpu/torchvision-0.17.0%2Bcpu-cp39-cp39-linux_x86_64.whl",
  "torch@https://download.pytorch.org/whl/cpu/torch-2.2.0%2Bcpu-cp39-cp39-linux_x86_64.whl",
  "fastapi==0.109.0",
  "keras-ocr==0.9.3",
  "pydicom==2.4.4",
  "python-multipart==0.0.6",
  "pylibjpeg==2.0.0",
  "pylibjpeg-libjpeg==2.0.0",
  "tensorflow==2.15.0.post1",
  "segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588",
  "uvicorn==0.26.0",
  "torchvision==0.17.0"
]
name = "UNKNOWN"
version = "0.0.0"

[project.optional-dependencies]
dev = [
  "coverage==7.4.1",
  "djlint==1.34.1",
  "mypy==1.8.0",
  "ruff==0.1.15",
  "ssort==0.12.4",
  "toml-sort==0.23.1"
]
