[project]
dependencies = [
  "fastapi==0.110.0",
  "keras-ocr==0.9.3",
  "pydicom==2.4.4",
  "pylibjpeg-libjpeg==2.0.2",
  "pylibjpeg==2.0.0",
  "pytest==8.0.2",
  "python-multipart==0.0.9",
  "segment-anything@git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588",
  "tensorflow==2.16.1",
  "torch@https://download.pytorch.org/whl/cpu/torch-2.2.1%2Bcpu-cp312-cp312-linux_x86_64.whl",
  "torchvision@https://download.pytorch.org/whl/cpu/torchvision-0.17.1%2Bcpu-cp312-cp312-linux_x86_64.whl",
  "uvicorn==0.27.1"
]
name = "UNKNOWN"
version = "0.0.0"

[project.optional-dependencies]
dev = [
  "coverage==7.4.3",
  "djlint==1.34.1",
  "mypy==1.8.0",
  "ruff==0.1.15",
  "ssort==0.12.4",
  "toml-sort==0.23.1"
]
