body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, nav
{
    background-color: #007BFF;
    padding: 10px;
    text-align: center;
    color: #fff;
}

nav
{
    background-color: #333;
}

nav a
{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover
{
    background-color: #555;
}

main
{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form
{
    margin-bottom: 20px;
}

label
{
    min-width: 250px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button
{
    /*width: 100%;*/
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button
{
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:disabled
{
    background-color: #ccc;
    cursor: not-allowed;
}
button:hover
{
    background-color: #0056b3;
}
.checkbox-container
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label.checkbox-label
{
    margin-left: 0; 
}

label.normal-label
{
    font-weight: normal; /* or font-weight: inherit; */
}