body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, nav
{
    background-color: #007BFF;
    padding: 10px;
    text-align: center;
    color: #fff;
}

nav
{
    background-color: rgba(47, 47, 51, 255);
}

nav a
{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover
{
    background-color: rgba(100, 100, 110, 255);
}

main
{
    max-width: 100vw;
    margin: 20px 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

form
{
    margin-bottom: 20px;
}

.UploadDICOM, .UploadSession, .SubmitAnon, .PseudoPrefix, .DateProcessing
{
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button
{
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled
{
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover
{
    background-color: #0056b3;
}

.checkbox-container
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label.normal-label
{
    font-weight: normal; /* or font-weight: inherit; */
    min-width: 250px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.DCMImg
{
    display: block;
    width: 100%;
    object-fit: contain;
}


.toggleCheckbox
{
    display: none;
}

.toggleContainer
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 3px solid #343434;
    border-radius: 20px;
    background: #343434;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
}

.toggleContainer::before
{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius:20px;
    background: white;
    transition: all 0.3s;
}

.toggleContainer div
{
    padding: 6px;
    text-align: center;
    z-index: 1;
}

.toggleCheckbox:checked + .toggleContainer::before
{
    left: 50%;
}

.toggleCheckbox:checked + .toggleContainer div:first-child
{
    color: white;
    transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer div:last-child
{
    color: #343434;
    transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:first-child
{
    color: #343434;
    transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:last-child
{
    color: white;
    transition: color 0.3s;
}


.metadata-table
{
    overflow: hidden;
    background-color: rgba(47, 47, 51, 255);
    color: white;
    border-radius: 3px;
    padding-left: 7px;
    padding-bottom: 7px;
}

.outer-row
{
    display: flex;
    border: 0px;
}

.inner-row, .inner-row-column-names
{
    display: table;
    max-width: 99.5%;
    min-width: 99.5%;
}

.inner-row:hover
{
    background-color: rgba(60, 60, 70, 255);
    transition: background-color 0.3s;
}

.left-row
{
    display: table-cell;
    flex: 1;
    max-width: 49.5%;
    min-width: 49.5%;
    border-left: 0px;
    border-right: 0px;
}

.right-row
{
    display: table-cell;
    flex: 1;
    max-width: 47.6%;
    min-width: 47.6%;
    border-left: 0px;
    border-right: 0px;
}

.cell-expand-row
{
    display: table-cell;
    border: 1px solid rgba(39, 39, 43, 255);
    border-left: 2px solid rgba(39, 39, 43, 255);
    border-right: 0px solid rgba(39, 39, 43, 255);
    width: 14px;
    min-width: 14px;
    padding: 2px;
    text-align: center;
    line-height: 30px;
}

.image-row-left-label
{
    display: table-cell;
    width: 21px;
    min-width: 21px;
    padding: 2px;
    line-height: 18px;
    writing-mode: sideways-lr;
    transform: translate(0%, 3%);
    text-align: center;
    font-size: 13px;
}

.cell-expand-row-margin
{
    display: table-cell;
    background-color: rgba(47, 47, 51, 255);
    width: 16px;
    min-width: 16px;
    padding: 2px;
    text-align: center;
    line-height: 30px;
}

.cell-dataset, .empty-cleaned-row
{
    display: table-cell;
    border: 1px solid rgba(39, 39, 43, 255);
    width: 100%;
    padding: 8px;
    word-break: break-all;
}

.cell-vertical-separator
{
    display: table-cell;
    border: 0px;
    width: 0.5%;
    min-width: 0.5%;
    padding: 0px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(47, 47, 51, 255);
}

.cell-dcmtag-id
{
    display: table-cell;
    border: 1px solid rgba(39,39,43,255);
    width: 110px;
    min-width: 110px;
    padding: 8px;
    word-break: break-all;
}

.cell-dcmtag-vr
{
    display: table-cell;
    border: 1px solid rgba(39,39,43,255);
    width: 40px;
    min-width: 40px;
    padding: 8px;
    word-break: break-all;
}

.cell-dcmtag-value
{
    flex: 1;
    display: table-cell;
    border: 1px solid rgba(39,39,43,255);
    width: 100%;
    padding: 8px;
    word-break: break-all;
}

.cell-dcmtag-name
{
    display: table-cell;
    border: 1px solid rgba(39,39,43,255);
    width: 150px;
    min-width: 150px;
    padding: 8px;
    word-break: break-all;
}